@model int

<script>
    $(document).ready(function () {
        var table = $('#TabReporttbl').dataTable({
            //"bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": '@Html.Raw(Url.Action("TabSpecificList", "Popup", new { Tab = @Model}))',
            "aaSorting": [[1, 'desc']],
            "aoColumns": [
        {},
                             {
                                 "sName": "ID",
                                 "visible": false
                             },
                            {
                                "sName": "Tab",
                            },
                            {
                                "sName": "Section",
                            },
                            {
                                "sName": "Display",
                            },
                            {
                                "sName": "Class",
                            },
                            {
                                "sName": "Report",
                            },
                            {
                                "sName": "Status",
                            },

        ],
            "columnDefs": [{
                "targets": [7],
                "createdCell": function (td, cellData, rowData, row, col) {
                    if (cellData == 10)
                        $(td).replaceWith('<td>Active</td>')
                    else
                        $(td).replaceWith('<td>Inactive</td>')
                }
            }],
        });
        $('#TabReporttbl').css('width','100%');
    });
</script>

<div id="box-body" class="col-xs-12">
    <div class="tab_scroll main-table">
        <div class="dataTables_wrapper no-footer table-responsive">
            <table class="table table-bordered table-striped dataTable" id="TabReporttbl">
                <thead>
                    <tr role="row">
                        <th>S.No</th>
                        <th>ID</th>
                        <th>Tab</th>
                        <th>Section</th>
                        <th>Display</th>
                        <th>Class</th>
                        <th>Report</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody></tbody>

            </table>
        </div>
    </div>
</div>