@model int

@{
    Layout = "~/Views/Shared/_XIDynawareLayout.cshtml";
}

<script>

    $(document).ready(function () {
        var Sorpopups = new Array();
        var editpopups = new Array();
        var table = $('#OrgSorceList').dataTable({
            "paging": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetOrgSources", "Organization", new { OrgID = @Model})",
            "aaSorting": [[1, 'desc']],
            "sDom": 'r<"dtable-header"l<"new-query">f><"datatable-scroll"t><"dtable-footer"ip>',
            "initComplete": function () {
                $("div.new-query").html('<button type="button" class="savebtn btn btn-theme" id="NewSorBtn" data-url="@Url.Action("OrganizationForms", "Organization")" >Add</button>');
            },
            'bJQueryUI': false,
            "autoWidth": false,
            "aoColumns": [
            { "bSortable": false },
                             {
                                 "sName": "ID",
                                 "visible": false
                             },
                             {
                                 "sName": "OrganizationID",
                                 "visible": false
                             },
                             {
                                 "sName": "OrganizationID"
                             },
                            {
                                "sName": "Icon"
                            },
                            {
                                "sName": "Name"
                            },
                            {
                                "sName": "Type"
                            },
                            {
                                "sName": "Provider"
                            },
                            {
                                "sName": "EmailID"
                            },
                            {
                                "sName": "MobileNumber"
                            },
                            {
                                "sName": "StatusTypeID"
                            },
                            { "bSortable": false }

            ],
            "columnDefs": [
                  {
                      "targets": [10],
                      "createdCell": function (td, cellData, rowData, row, col) {
                          if (cellData == 10)
                              $(td).replaceWith('<td>Active</td>')
                          else
                              $(td).replaceWith('<td>Inactive</td>')
                      }
                  }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if ('@Model' > 0) {
                    $('td:eq(1)', nRow).html('<i class="' + aData[4] + '" style="padding-left:10px;" ></i>');
                    $('td:eq(8)', nRow).html('<input type="button" class="EditBtn btn btn-theme btn-xs" ID="' + aData[1] + '" data-orgid="' + aData[2] + '" value="Edit"/>');
                }
                else {
                    $('td:eq(2)', nRow).html('<i class="' + aData[4] + '" style="padding-left:10px;" ></i>');
                    $('td:eq(9)', nRow).html('<input type="button" class="EditBtn btn btn-theme btn-xs" ID="' + aData[1] + '" data-orgid="' + aData[2] + '" value="Edit"/>');
                }
                return nRow;
            }
        });
        if ('@Model' > 0) {
            table.api().column(3).visible(false);
        }
        $('#OrgSorceList').on('click', 'input.EditBtn', function () {
            var SrcID = $(this).attr('id');
            var Orgid = $(this).attr('data-orgid');
            if (editpopups.length > 0) {
                for (i = 0; i < editpopups.length; i++) {
                    editpopups[i].close();
                }
            }
            var editsorwindow = window.open('', '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditOrgSource", "Organization")',
                data: { SourceID: SrcID, OrgID: Orgid },
                cache: false,
                async: false,
                dataType: 'html',
                success: function (data) {
                    with (editsorwindow.document) {
                        open();
                        write(data);
                        close();
                    }
                    editpopups.push(editsorwindow);
                    editsorwindow.moveTo(0, 0);
                }
            });
        })
        $('.new-query').on('click', 'button#NewSorBtn', function () {
            var url = $(this).attr('data-url');
            if (Sorpopups.length > 0) {
                for (i = 0; i < Sorpopups.length; i++) {
                    Sorpopups[i].close();
                }
            }
            var newsource = window.open(url, '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            newsource.moveTo(0, 0);
            Sorpopups.push(newsource);
        });
    });
</script>

<section class="content-header hedr">
    <h1> Organization Sources </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Source Management</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="MasterDataGrid">
                    <div class="box-body">
                        <div class="table-clean">
                            <table class="table table-striped custom-table dark-head dark-head2 table-condensed" id="OrgSorceList">
                                <thead>
                                    <tr role="row">
                                        <th>S.No</th>
                                        <th style="display:none">ID</th>
                                        <th style="display:none">Organisation ID</th>
                                        @if (Model > 0)
                                        {
                                            <th style="display:none">Organisation</th>
                                        }
                                        else
                                        {
                                            <th>Organisation</th>
                                        }
                                        <th>Icon</th>
                                        <th>Source Name</th>
                                        <th>Type</th>
                                        <th>Provider</th>
                                        <th>Email ID</th>
                                        <th>Mobile Number</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
