@model string

@*<div id="Bespokeiframe">
    <iframe src=@items.URL data-leadid='@items.LeadID' data-tabid='@items.TabID' data-type=@items.RefreshType class="bespokeframe bg-transparent fullwidth" frameborder="0" allowfullscreen></iframe>
</div>*@

<div id="Bespokeiframe">
    <iframe src="~/Bespoke/Bespoke2.html" class="bespokeframe bg-transparent fullwidth" frameborder="0" allowfullscreen></iframe>
</div>
