@{ 
//Layout = "~/Views/Shared/_PopupLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="event-wrapper">
            <div class="event-header event-header-grad">
                <div class="container">
                    <h2>the <span class="event-fc-yello">standard</span> Lorem Ipsum</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                    <h4 class="grey">sed do eiusmod <span class="event-fc-yello">tempor incididunt</span> ut labore</h4>
                </div>
            </div>
            <div class="event-body container">
                <div class="event-occur">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="event-occur-box">
                                <div class="row row-gutter6">
                                    <div class="col-xs-2 gutter6"><i class="fa fa-calendar"></i></div>
                                    <div class="col-xs-1 gutter6">/</div>
                                    <div class="col-xs-9 gutter6">
                                        <p class="small text-uppercase">Date</p>
                                        <p class="small">21st Aug, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="event-occur-box">
                                <div class="row row-gutter6">
                                    <div class="col-xs-2 gutter6"><i class="fa fa-map-marker"></i></div>
                                    <div class="col-xs-1 gutter6">/</div>
                                    <div class="col-xs-9 gutter6">
                                        <p class="small text-uppercase">Location</p>
                                        <p class="small">London, UK</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="event-occur-box">
                                <div class="row row-gutter6">
                                    <div class="col-xs-2 gutter6"><i class="fa fa-users"></i></div>
                                    <div class="col-xs-1 gutter6">/</div>
                                    <div class="col-xs-9 gutter6">
                                        <p class="small text-uppercase">Seats</p>
                                        <p class="small">200 People</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="event-occur-box">
                                <div class="row row-gutter6">
                                    <div class="col-xs-2 gutter6"><i class="fa fa-user-circle-o"></i></div>
                                    <div class="col-xs-1 gutter6">/</div>
                                    <div class="col-xs-9 gutter6">
                                        <p class="small text-uppercase">Speakers</p>
                                        <p class="small">12 Experts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-pad">
                    <div class="row">
                        <div class="col-sm-7">
                            <h3 class="page-head">Event Discription</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco..</p>
                        </div>
                        <div class="col-sm-5">
                            <img src="~/Content/images/event.png" style="width:100%" />
                        </div>
                    </div>
                </div>
                <div class="section-pad expert-section">
                    <h3 class="page-head">
                        <span class="page-head-sm">Meet with our Experts</span>Expert Speakers
                    </h3>
                    <div class="row m-b-20">
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="img-holder">
                                            <img src="~/Content/images/event-expert/exp1.png" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4>Expert Name</h4>
                                        <p class="small desig">Designation</p>
                                        <p class="small">Topic: Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="img-holder">
                                            <img src="~/Content/images/event-expert/exp2.png" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4>Expert Name</h4>
                                        <p class="small desig">Designation</p>
                                        <p class="small">Topic: Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="img-holder">
                                            <img src="~/Content/images/event-expert/exp3.png" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4>Expert Name</h4>
                                        <p class="small desig">Designation</p>
                                        <p class="small">Topic: Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="img-holder">
                                            <img src="~/Content/images/event-expert/exp4.png" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4>Expert Name</h4>
                                        <p class="small desig">Designation</p>
                                        <p class="small">Topic: Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="img-holder">
                                            <img src="~/Content/images/event-expert/exp5.png" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4>Expert Name</h4>
                                        <p class="small desig">Designation</p>
                                        <p class="small">Topic: Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="expert-box">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="img-holder">
                                            <img src="~/Content/images/event-expert/exp6.png" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h4>Expert Name</h4>
                                        <p class="small desig">Designation</p>
                                        <p class="small">Topic: Lorem ipsum dolor sit amet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-pad">
                    <div class="register-section">
                        <img src="~/Content/images/register-bg.jpg" class="register-bg" />
                        <div class="register-form">
                            <h3 class="page-head fc-white">
                                <span class="page-head-sm">Book Seats</span>Register your seats
                            </h3>
                            <ul class="list-inline">
                                <li class="register-input">
                                    <i class="fa fa-user icn"></i>
                                    <input type="text" class="" placeholder="Your name" />
                                </li>
                                <li class="register-input">
                                    <i class="fa fa-at icn"></i>
                                    <input type="text" class="" placeholder="Email address" />
                                </li>
                                <li class="register-input">
                                    <i class="fa fa-calculator icn"></i>
                                    <input type="text" class="" placeholder="Number of seat" />
                                </li>
                                <li class="register-btn">
                                    @*<i class="fa fa-home icn"></i>*@
                                    <a href="#" class="btn">Confirm your seat</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-footer">
                <div class="container bc-white">
                    <h1 class="header-title">The standard Lorem Ipsum passage, used since the 1500s</h1>
                    <div class="text-center" style="color:#303a58;"><i class="fa fa-phone" style="color:#77838f;"></i> 123-1324-123 <span style="color:#d2dde7;">|</span> <i class="fa fa-envelope" style="color:#77838f;"></i> name@mail.com</div>
                    <div class="event-subscribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your email address" />
                            <span class="input-group-addon">
                                <a href="#" class=""><i class="fa fa-paper-plane"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="copyright">Copyright 2018,  Converter</div>
                </div>
            </div>
        </div>
    </div>
</div>
