<div class="modal fade icn-select-dialog" id="img_select_modal">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title bold uppercase">Select Icon</h4>
            </div>
            <div class="modal-body">
                <div class="tabbable-line">
                    <div id="icons">
                        <section id="new">
                            <h2 class="page-header">Images</h2>
                            <div class="row fontawesome-Image-list">
                                @*<div class="fa-hover col-md-3 col-sm-4"><i class="API.png" aria-hidden="true"></i> API</div>
            <div class="fa-hover col-md-3 col-sm-4"><i class="Apps preferences.png" aria-hidden="true"></i> App preferences</div>
            <div class="fa-hover col-md-3 col-sm-4"><i class="BTNotification.jpg" aria-hidden="true"></i> BTNotification</div>
            <div class="fa-hover col-md-3 col-sm-4"><i class="Hide.png" aria-hidden="true"></i> Hide</div>
            <div class="fa-hover col-md-3 col-sm-4"><i class="Hub.png" aria-hidden="true"></i> Hub</div>
            <div class="fa-hover col-md-3 col-sm-4"><i class="Monitor.png" aria-hidden="true"></i> Monitor</div>
            <div class="fa-hover col-md-3 col-sm-4"><i class="Notification.png" aria-hidden="true"></i> Notification</div>
            <div class="fa-hover col-md-3 col-sm-4"><i class="Update.png" aria-hidden="true"></i> Update</div>*@


                                <div>
                                    <div class="fa-hover"><i class="API.png" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/API.png" style="height:50px;width:50px; " />
                                        <span>API</span>
                                    </div>
                                    <div class="fa-hover"><i class="App preferences.png" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/Apps preferences.png" style="height:50px;width:50px; " />
                                        <span>App preferences</span>
                                    </div>
                                    <div class="fa-hover"><i class="BTNotification.jpg" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/BTNotification.jpg" style="height:50px;width:50px; " />
                                        <span>BTNotification</span>
                                    </div>
                                    <div class="fa-hover"><i class="Hide.png" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/Hide.png" style="height:50px;width:50px; " />
                                        <span>Hide</span>
                                   </div>
                                    <div class="fa-hover"><i class="Hub.png" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/Hub.png" style="height:50px;width:50px; " />
                                        <span>Hub</span>
                                    </div>
                                    <div class="fa-hover"><i class="Monitor.png" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/Monitor.png" style="height:50px;width:50px; " />
                                        <span>Monitor</span>
                                     </div>
                                    <div class="fa-hover"><i class="Notification.png" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/Notification.png" style="height:50px;width:50px; " />
                                        <span>Notification</span>
                                    </div>
                                    <div class="fa-hover"><i class="Update.png" aria-hidden="true"></i>
                                        <img src="~/Content/images/AppImages/Update.png" style="height:50px;width:50px; " />
                                        <span>Update</span>
                                    </div>
                                    </div>
                                </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline dark sbold uppercase" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

