<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880 xidnatest
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  </configSections>
  <connectionStrings>
    <add name="XIDNADbContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.7.222;initial catalog=IO_Setting;User Id=XIDNAADMIN; Password=XIDNAADMIN; MultipleActiveResultSets=True" />
    <add name="XIEnvironmentDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.7.222;initial catalog=XIEnvironment;User Id=XIDNAADMIN; Password=XIDNAADMIN; MultipleActiveResultSets=True" />
    <!--<add name="XIDNADbContext" providerName="System.Data.SqlClient" connectionString="Data Source=88.208.209.5;initial catalog=XIDNAUATHTTPS;User Id=cruser; Password=cruser; MultipleActiveResultSets=True" />-->
    <add name="XIDNAAdminContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.7.222;User Id=xiadmin; Password=xiadmin; MultipleActiveResultSets=True" />
    <!--<add name="XIDynawareClientDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=88.208.209.5;initial catalog=XISharedUAT;User Id=cruser; Password=cruser; MultipleActiveResultSets=True" />-->

    <!--<add name="XIDNAClientDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.7.8;initial catalog=ConverterClientQA;User Id=crqauser; Password=crqauser; MultipleActiveResultSets=True" />-->
    <!--<add name="XIDNADatabaseContext" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.7.8;User Id=xiadmin; Password=xiadmin; MultipleActiveResultSets=True" />-->
    <!--<add name="XIDNADbContext" providerName="System.Data.SqlClient" connectionString="Data Source=88.208.209.5;initial catalog=Converter;User Id=cruser; Password=cruser; MultipleActiveResultSets=True" />
    <add name="XIDNAClientDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=88.208.209.5;initial catalog=XIDemo;User Id=cruser; Password=cruser; MultipleActiveResultSets=True" />
    <add name="XIDNADatabaseContext" providerName="System.Data.SqlClient" connectionString="Data Source=88.208.209.5;User Id=xiadmin; Password=xiadmin; MultipleActiveResultSets=True" />-->
  </connectionStrings>
  <appSettings>

    <add key="PFShopCode" value="9829" />
    <add key="PFClientCode" value="QM1" />
    <add key="PFUserId" value="QMT" />
    <add key="PFCostCentre" value="123456" />
    <add key="PFUsername" value="QMT" />
    <add key="PFPassword" value="wn5uVY9kXKpLfdcM" />

    <!--<add key="PFShopCode" value="4156" />
    <add key="PFClientCode" value="KM0" />
    <add key="PFUserId" value="ZEE" />
    <add key="PFCostCentre" value="123456" />
    <add key="PFUsername" value="ZEE" />
    <add key="PFPassword" value="nDh8RhWXFnPVUYC7" />-->

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CoreApplicatoinName" value="XIDNA" />
    <add key="CoreApplicatoinLogo" value="XIDNA.png" />
    <add key="CoreApplicatoinDatabase" value="IO_Setting" />
    <add key="DataBaseServer" value="192.168.7.222" />
    <!--<add key="DataBaseServer" value="88.208.209.5" />-->
    <add key="DataBaseUser" value="XIDNAADMIN" />
    <add key="DataBasePassword" value="XIDNAADMIN" />
    <add key="ThemeFile" value="dark-theme.css" />
    <add key="Cache" value="ON" />
    <add key="PhysicalPath" value="/Content/images" />
    <add key="XIAppLogosPath" value="http://localhost:53996/Content/images" />
    <add key="QtBinaries" value="http://localhost:53996/Content/QtBinaries" />
    <add key="XIDocsPath" value="/Content/Files" />
    <add key="NoImagePath" value="/Content/images/noImage.jpg" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="DLLPath" value="http://localhost:53996/bin" />
    <add key="ApplicationName" value="IO" />
    <add key="HostingPath" value="" />
    <add key="ApplicationPath" value="http://localhost:53996/" />
    <add key="ClientURL" value="http://localhost:53996/Myaccount" />
    <add key="APIBaseUrl" value="http://localhost:63722/" />
    <!--<add key="SharedDataBase" value="iPMTestHTTPS" />
    <add key="CoreDataBase" value="XICoreUATHTTPS" />-->
    <add key="SharedDataBase" value="IO_Data_OrgName" />
    <add key="CoreDataBase" value="IO_Core" />
    <add key="Attachment" value="/Content/Attachments/" />
    <add key="FilesPath" value="/Content/Attachments/" />
    <add key="BNPRequestMode" value="Test" />
    <add key="ClientDataBase" value="Data Source=192.168.7.222;initial catalog=IO_Data_OrgName;User Id=XIDNAADMIN; Password=XIDNAADMIN; MultipleActiveResultSets=True" />
    <add key="SiloAccess" value="SiloAdmin" />
    <add key="AccessCode" value="MoneyCo" />
    <add key="CheckAccessCode" value="False" />
    <add key="TaxRate" value="12" />
    <add key="ServerKey" value="ZEEADMIN" />
    <add key="SharedPath" value="http://localhost:53996/UploadedFiles" />
    <add key="VirtualDirectoryPath" value="UploadedFiles" />
    <add key="PaymentGatewayURL" value="https://pay.sandbox.realexpayments.com" />
    <add key="TOBAPath" value="http://183.82.123.14/Content/Documents" />
    <add key="TimeZone" value="India Standard Time" />
    <add key="ServerEnvironment" value="Dev" />
    <add key="BulkSMSPath" value="http://login.bulksmsglobal.in/api/sendhttp.php?" />
    <add key="SMSAPIKey" value="5026AMa0jsDOPdn5ad71bfb" />
    <add key="isender" value="iHubRs" />
    <add key="WhitelistCheck" value="yes" />
    <add key="AppEnvironment" value="183" />
    <add key="AppName" value="Motorhome" />
    <add key="DBName" value="xidnaqa_old1" />

    <add key="GooglePlaceAPIKey" value="AIzaSyBWUUOyiWmq15TzwSAoz_ErHHccqeud_Po"></add>
    <add key="PlaceIDAPIKey" value="https://maps.googleapis.com/maps/api/place/details/json?placeid={0};key={1}"/>
    <add key="GooglePlaceAPIUrl" value="https://maps.googleapis.com/maps/api/place/autocomplete/json?input={0};types=establishment;language=en;key={1}" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" slidingExpiration="true" timeout="15" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="102400" />
    <sessionState cookieless="false" timeout="15"></sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="XIDNAErrorLog\ErrorLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sales@hcemedical.in">
        <network host="in-v3.mailjet.com" port="587" userName="22993259bc58f35d387eac04e21edd6e" password="7d261bbfadbe6b4dc49eec6005de270a" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>