@model XIDNA.Models.ResetPasswordViewModel
@using XIDNA
@{
	string PhysicalPath = System.Configuration.ConfigurationManager.AppSettings["ApplicationPath"];
    ViewBag.Title = "Forgot Password";
    Layout = null;
    var LogoPath = System.Configuration.ConfigurationManager.AppSettings["XIAppLogosPath"];
    var Title = "XIDNA";
    if (SessionManager.AppName != null)
    {
        Title = SessionManager.AppName;
    }
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MVBR6MJ');</script>
	<!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>Motorhomeinsurance.com</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" type="image/icon" href="~/Content/MedintuUK.ico" sizes="16x16">

    <link type="text/css" href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/fonts/ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link type="text/css" href="~/Content/css/reset.css" rel="stylesheet"> <!-- CSS reset -->
    <link type="text/css" href="~/Content/css/mhloginstyle.css" rel="stylesheet"> <!-- Resource style -->
    <!-- <link href="Content/css/custom.css" rel="stylesheet" /> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVBR6MJ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <header id="headerSection">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/Content/images/climages/logo.jpg" />
            </a>
            <div class="HeaderMenu">
                <ul class="list-inline menuLogs">
                    <li><a href="#" class="btn">Login</a></li>
                    <li><a href="@PhysicalPath/mh" target="_blank" class="btn">Get new quote</a></li>
                </ul>
                <div class="menuNav">
                    <ul class="list-inline sub-menuMain">
                        <li class="active">
                            <a class="" href="https://www.motorhomeinsurance.com/">Home</a>
                        </li>
                        <li>
                            <a class="">Information<span class="sub-arrow"><i class="fa fa-caret-down"></i></span></a>
							<ul class="sub-menuOne">
								<li class="sub-menuOneli"><a href="#" class="sub-aOneli">Types of Motorhome<span class="sub-arrow"><i class="fa fa-caret-right"></i></span></a>
									<ul class="sub-menuTwo">
										<li class="sub-menuTwoli"><a href="https://www.motorhomeinsurance.com/information/types-of-motorhome/low-profile-coach-built-motorhomes/" class="sub-aTwoli">Low-profile Coach-built Motorhomes</a></li>
										<li class="sub-menuTwoli"><a href="https://www.motorhomeinsurance.com/information/types-of-motorhome/over-cab-bed-motorhomes/" class="sub-aTwoli">Over Cab Bed Motorhomes</a></li>
										<li class="sub-menuTwoli"><a href="https://www.motorhomeinsurance.com/information/types-of-motorhome/a-class-motorhomes/" class="sub-aTwoli">A-class Motorhomes</a></li>
										<li class="sub-menuTwoli"><a href="https://www.motorhomeinsurance.com/information/types-of-motorhome/fixed-roof-campervans/" class="sub-aTwoli">Fixed Roof Campervans</a></li>
										<li class="sub-menuTwoli"><a href="https://www.motorhomeinsurance.com/information/types-of-motorhome/high-top-campervans/" class="sub-aTwoli">High-top Campervans</a></li>
									</ul>
								</li>
								<li class="sub-menuOneli"><a href="https://www.motorhomeinsurance.com/information/add-ons/" class="sub-aOneli">Add-On Products</a></li>
								<li class="sub-menuOneli"><a href="https://www.motorhomeinsurance.com/information/how-to-report-a-claim/" class="sub-aOneli">How to Report a Claim</a></li>
								<li class="sub-menuOneli"><a href="https://www.motorhomeinsurance.com/information/faqs/" class="sub-aOneli">FAQs</a></li>
							</ul>
                        </li>
                        <li>
                            <a class="" href="https://www.motorhomeinsurance.com/news/">News</a>
                        </li>
                        <li>
                            <a class="" href="https://www.motorhomeinsurance.com/about/">About us</a>
                        </li>
                        <li>
                            <a class="" href="https://www.motorhomeinsurance.com/contact/">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="zee-main-content">
        <div class="page-wrapper">
            <section id="sectionBanner">
                <img src="~/Content/images/climages/caravan.png" class="caravanImg" />
                <div id="HomeLoginForm">
                    <h4 class="loginTitle">Verification Code</h4>
					<p class="fc-prime2 no-margin m-b-20">Please type your verification code sent to your mail account</p>
					@using (Ajax.BeginForm("ClientOTPVerify", "Account", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnSuccess = "onItemSuccess" }, new { enctype = "multipart/form-data", @class = "m-r-t-10", @id = "ItemsForm" }))
                                {
                                    @Html.HiddenFor(m=>m.Email)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
										<h4 class="title">Enter Verification Code</h4>
                                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })                                        
                                    </div>
                                    <button type="submit" class="btn btn-loginForm">Verify</button>
                                    
                                }
                </div>
            </section>
            <section id="sectionService" class="sectionPadded">
                <div class="container">
                    <ul class="list-inline ServiceList">
                        <li>
                            <img src="" class="CallUs" alt="" title="Call us" />
                            <p class="sbold">Call us</p>
                        </li>
                        <li>
                            <img src="" class="Recover" alt="" title="Recover" />
                            <p class="sbold">Recover</p>
                        </li>
                        <li>
                            <img src="" class="Replacement" alt="" title="Replacement" />
                            <p class="sbold">Replacement</p>
                        </li>
                        <li>
                            <img src="" class="Repair" alt="" title="Repair" />
                            <p class="sbold">Repair</p>
                        </li>
                        <li>
                            <img src="" class="Injury" alt="" title="Personal Injury" />
                            <p class="sbold">Personal Injury</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="sectionProduct" class="sectionPadded">
                <div class="container">
                    <div class="sectionHeader">
                        <h2>Our Products</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 prdItem">
                            <img src="~/Content/images/climages/KeyInsurance.png" class="prdIcn" alt="" title="" />
                            <h3 class="prdTitle">Key Insurance</h3>
                            <p class="prdText">Protect against loss, theft or damage of your motorhome keys and other related expenses with Key Cover Insurance.</p>
                        </div>
                        <div class="col-sm-3 prdItem">
                            <img src="~/Content/images/climages/BreakdownInsurance.png" class="prdIcn" alt="" title="" />
                            <h3 class="prdTitle">Breakdown Insurance</h3>
                            <p class="prdText">Breakdown cover in the UK and Europe to repair your vehicle or take you and your passengers to the nearest suitable garage.</p>
                        </div>
                        <div class="col-sm-3 prdItem">
                            <img src="~/Content/images/climages/LegalProtection.png" class="prdIcn" alt="" title="" />
                            <h3 class="prdTitle">Legal Protection</h3>
                            <p class="prdText">Legal Protection Cover will help pay for solicitors, legal representation and other expenses in the event of a litigation claim.</p>
                        </div>
                        <div class="col-sm-3 prdItem">
                            <img src="~/Content/images/climages/ExcessProtection.png" class="prdIcn" alt="" title="" />
                            <h3 class="prdTitle">Excess Protection</h3>
                            <p class="prdText">With our Excess Protection Cover, your excess payment will be reimbursed once your claim is successfully settled.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="sectionInsurer" class="sectionPadded">
                <div class="container">
                    <div class="sectionHeader">
                        <h2>A Selection of Our Trusted Insurers</h2>
                    </div>
                    <ul class="list-inline InsurerList">
                        <li>
                            <div class="img-container">
                                <img src="~/Content/images/climages/Ark-Logo.png" alt="" title="">
                            </div>
                        </li>
                        <li>
                            <div class="img-container">
                                <img src="~/Content/images/climages/Commercial-express-logo-2.png" alt="" title="">
                            </div>
                        </li>
                        <li>
                            <div class="img-container">
                                <img src="~/Content/images/climages/Jackson-lee-insurance-logo.png" alt="" title="">
                            </div>
                        </li>
                        <li>
                            <div class="img-container">
                                <img src="~/Content/images/climages/KGM-logo-2.png" alt="" title="">
                            </div>
                        </li>
                        <li>
                            <div class="img-container">
                                <img src="~/Content/images/climages/Policy-fast-logio-2.jpg" alt="" title="">
                            </div>
                        </li>
                        <li>
                            <div class="img-container">
                                <img src="~/Content/images/climages/policy-plan-logo.png" alt="" title="">
                            </div>
                        </li>
                        <li>
                            <div class="img-container">
                                <img src="~/Content/images/climages/towergate-insurance-logo.png" alt="" title="">
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <footer class="footer page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/Content/images/climages/footerLogo.png" alt="" title="" class="footerLogo">
                    </div>
                    <div class="col-sm-8">
                        <div class="row footMenu">
                            <div class="col-sm-3">
                                <h4 class="col-header">Main Menu</h4>
                                <ul class="links">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Information</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="col-header">Let's Chat</h4>
                                <ul class="links">
                                    <li><a href="#">Get A Quote</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="col-header">Account</h4>
                                <ul class="links">
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="col-header">Follow us on</h4>
                                <ul class="list-inline">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="footerInfoline">Motorhome Insurance Services is a trading name of Quotemetoday.co.uk Limited of Office 2A, First Floor, 3 Jubilee Way, Whitstable Road, Faversham, Kent, ME13 8GD, registered in the United Kingdom under company number 04668665. Quotemetoday.co.uk Limited is directly authorised and regulated by the Financial Conduct Authority (FCA) under Firm Reference No. 786619. Details of this registration are available on the FCA’s website www.fca.org.uk/register or on 0800 111 6768.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="copyright">© 2019 motorhomeinsurance.com</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="shortlink">
                            <a href="#">Accessibility</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a>
                        </div>
                    </div>
                </div>
                <p class="cookieLink hidden">This site uses cookies: <span class="fc-white">More Info</span></p>
            </div>
        </footer>
    </div>
    <!-- ========================================== Page top  Button==================================== -->
    <a href="javascript:" id="return-to-top" onclick="returnToTop(); return false;"><i class="fa ion-android-arrow-up"></i></a>
    <script src="dist/js/modernizr.js"></script> <!-- Modernizr -->
    <script src="~/Scripts/JQuery/jQuery-2.1.4.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script>
		///////////////Scroll to Top / headerFix ///////////////
		$(window).scroll(function () {
			debugger;
			if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
				$('#headerSection').addClass('headerFix');
				$('#return-to-top').fadeIn(200); // Fade in the arrow
			} else {
				$('#headerSection').removeClass('headerFix');
				$('#return-to-top').fadeOut(200); // Else fade out the arrow
			}
		});
		returnToTop = function () { // When arrow is clicked
			$('body,html').animate({scrollTop: 0}, 500); // Scroll to top of body
			return false;
		};

		//////////////////////////////////////
	</script>
</body>
</html>
