@model XIDNA.Models.AddFields

@{
    Layout = "~/Views/Shared/_XIDynawareLayout.cshtml";
}

<style>
    #ClassButtons {
        padding-top: 7px;
    }
    /*input[type=radio] {
            padding-right: 15px;
        }*/
</style>
<section class="content-header hedr">
    <h1> Non Class Specific Fields </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Non Class Fields</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div id="FieldsGrid">
                        @{
                            Html.RenderAction("GetOrgFields", "Fields", new { Type = "ClassNonSpecific" });
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
        var form = $('#FieldsForm');
        $.validator.unobtrusive.parse(form);
        function OnComplete() {
            var classspecific = $('#ClassButtons input[type=radio]:checked').val();
            var classname = $('#Class').val();
            $('#FieldsForm')[0].reset();
            $('#Class').val(classname);
            if (classspecific == "True") {
                $('input#Yes').prop('checked', true);
                $('#Length').prop("disabled", false);
            }
            else {
                $('input#No').prop('checked', true);
                $('#Class').prop("disabled", true);
                $('#Length').prop("disabled", false);
            }
            $("#FieldsGrid").load('@Url.Action("GetOrgFields", "AddFields", new { Type = "ClassNonSpecific" })');
        }
        $('#FieldReset').click(function () {
            $('#FieldsForm')[0].reset();
            $('#Class').prop("disabled", false);
            $('#Length').prop("disabled", false);
        });
</script>
