@model XICore.XIDBOGUID

@{
    Layout = "~/Views/Shared/_XIDynawareLayout.cshtml";
}

<section class="content-header hedr">
    <h1> Generate BO GUID </h1>

    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> BO</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-body padding10Tab">
                <div class="innerborder">
                    @using (Ajax.BeginForm("RunBOGUID", "BusinessObjects", new AjaxOptions { OnBegin = "OnFormBegin()", HttpMethod = "POST", OnSuccess = "OnComplete" }, new { @id = "BOGUIDForm", @class = "form-horizontal" }))
                    {
                        <div id="clear-text">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label for="inputEmail" class="gn"> Application <span class="danger">*</span></label>
                                    <select class="form-control" name="sTableName">
                                        <option value="0">--Select--</option>
                                        @foreach (var items in Model.ddlBOs)
                                        {
                                            <option value="@items.Expression">@items.text</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-md-5">
                                    @Html.CheckBoxFor(m => m.bIsChangeFK)
                                    <label for="inputEmail" class="gn">Update FK related data also </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="submit" class="btn btn-theme" value="Save" />
                                <button type="button" class="btn btn-theme decline CancelXiLink">Cancel</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function OnFormBegin() {
        $('#BOGUIDForm').block({
            message: '<h4>Processing</h4>',
            blockMsgClass: 'report-success',
        });
    }
    function OnComplete(response) {
        $('#BOGUIDForm').unblock();
    }
</script>