<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    
    <add key="BNPendPointUrl" value="https://ipf-connect.bnpparibas-pf.co.uk/IntegratedGatewayHost.svc" />
  </appSettings>

    <applicationSettings>
        <ZeeBNPPFServices.Properties.Settings>
            <setting name="ZeeBNPPFServices_BNPPFServices_IntegratedGatewayHost" serializeAs="String">
                <value>https://ipf-connect.bnpparibas-pf.co.uk/IntegratedGatewayHost.svc</value>
            </setting>
        </ZeeBNPPFServices.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.0" newVersion="5.5.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>