@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    ViewBag.Title = "Not Found";
}

<h2>Something went wrong!! Please try again or contact admin</h2>

@*<h2>Sorry, The page you are looking for is not found</h2>*@

@*<hgroup>
    <h1 class="text-error">Error.</h1>
    <h2 class="text-error">An error occurred while processing your request.</h2>
</hgroup>*@
