@model int
@using Microsoft.AspNet.Identity
@using XIDNA.Models
@{
    Layout = "~/Views/Shared/_XIDynawareLayout.cshtml";
    //int Value = User.Identity.GetPaginationCount();
}
<section class="content-header hedr">
    <h1> Query Management </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Query Management</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="table-clean">
                        <table class="table table-striped custom-table dark-head dark-head2 table-condensed table-hover" id="AllQueries">
                            <thead>
                                <tr role="row">
                                    <th>S.No</th>
                                    <th>ID</th>
                                    <th>OrganizationID</th>
                                    <th>ParentID</th>
                                    <th>BO</th>
                                    <th>Query Name</th>
                                    <th>Show As</th>
                                    <th class="no-sort">Description</th>
                                    <th>IsParent</th>
                                    <th>Class</th>
                                    <th>Display As</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody></tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var popups = new Array();
    var newpopups = new Array();
    var editpopups = new Array();
    var prepopups = new Array();
    $(document).ready(function () {
        var table = $('#AllQueries').dataTable({
            "paging": true,
            "bProcessing": true,
            "bServerSide": true,
            "pageLength": 100,
            "lengthMenu": [5, 10, 20, 50, 75, 100],
            @*"pageLength": parseInt('@Value'),*@
            "sAjaxSource": "@Url.Action("GetQueryList", "QueryGeneration")",
            "aaSorting": [[1, 'desc']],
            "sDom": 'r<"dtable-header"l<"new-query">f><"datatable-scroll"t><"dtable-footer"ip>',
            "initComplete": function () {
                $("div.new-query").html('<button type="button" class="savebtn btn btn-theme" id="NewQBtn" data-url="@Url.Action("GetQueryForm", "QueryGeneration")" >Add</button>');
            },
            'bJQueryUI': false,
            "autoWidth": false,
            "aoColumns": [
            {
                "sName": "SNo",
                "bSortable": false
            },
                             {
                                 "sName": "ID",
                             },
                             {
                                 "sName": "OrganizationID",
                                 "visible": false
                             },
                             {
                                 "sName": "ParentID",
                                 "visible": false
                             },
                            {
                                "sName": "FromBos",
                            },
                            {
                                "sName": "Name"
                            },
                            {
                                "sName": "ShowAs"
                            },
                            {
                                "sName": "Description"
                            },
                             {
                                 "sName": "IsParent",
                             },
                            {
                                "sName": "ClassName"
                            },
                            {
                                "sName": "Type"
                            },
                            {
                                "sName": "Status"
                            },
                             {
                                 "sName": "Edit",
                                 "bSortable": false
                             },
                             {
                                 "sName": "Actions",
                                 "bSortable": false
                             },

            ],
            "columnDefs": [
                  {
                      "targets": [11],
                      "createdCell": function (td, cellData, rowData, row, col) {
                          if (cellData == 10)
                              $(td).replaceWith('<td>Active</td>')
                          else
                              $(td).replaceWith('<td>Inactive</td>')
                      }
                  }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if ('@Model' == 0) {
                    $('td:eq(10)', nRow).html('<input type="button" class="btn btn-theme btn-xs" onclick="EditQuery(' + aData[1] + ', \'Edit\')" value="Edit"/>');
                }
                else {
                    if (aData[2] == '@Model') {
                        $('td:eq(10)', nRow).html('<input type="button" class="btn btn-theme btn-xs" onclick="EditQuery(' + aData[1] + ', \'Edit\')" value="Edit"/>');
                    }
                }
                $('td:eq(11)', nRow).attr('class', 'text-nowrap').html('<input type="button" class="btn btn-theme btn-xs" onclick="EditQuery(' + aData[1] + ', \'Copy\')" value="Copy"/>' +
                '<input type="button" class="btn btn-theme btn-xs" onclick="PreviewQuery(' + aData[1] + ')" value="Run"/>');
                return nRow;
            }
        });
        $('.new-query').on('click', 'button#NewQBtn', function () {
            var url = $(this).attr('data-url');
            if (newpopups.length > 0) {
                for (i = 0; i < newpopups.length; i++) {
                    newpopups[i].close();
                }
            }
            //var newquery = window.open(url, '_blank', 'fullscreen=yes,resizable=yes,scrollbars=yes,toolbar=yes,menubar=yes,location=yes,left=0,top=0');
            //var newquery = window.open(url, '_blank', "scrollbars=1,resizable=1,width=1400, height=700,left=0,top=0");
            var newquery = window.open(url, '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            newpopups.push(newquery);
            newquery.moveTo(0, 0);
            popups.push(newquery);
        });
        //window.onunload = function () {
        //    if (popups.length == 0) return;
        //    for (i = 0; i < popups.length; i++) {
        //        popups[i].close();
        //    }
        //};
    });
    function EditQuery(QueryID, Type) {
        $('#PQEQueryID').val(QueryID);
        $('#PQEType').val(Type);
        if (editpopups.length > 0) {
            for (i = 0; i < editpopups.length; i++) {
                editpopups[i].close();
            }
        }
        var edit = window.open('QueryEditPopUP?QueryID=' + QueryID, '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("QueryEditPopUP", "QueryGeneration")',
            data: { QueryID: QueryID, Type: Type },
            cache: false,
            async: true,
            dataType: 'html',
            success: function (data) {
                with (edit.document) {
                    open();
                    write(data);
                    close();
                }
                editpopups.push(edit);
            }
        });*@
    }

    function PreviewQuery(QueryID) {
        $('#PQPReportID').val(QueryID);
        if (prepopups.length > 0) {
            for (i = 0; i < prepopups.length; i++) {
                prepopups[i].close();
            }
        }
        //var Preview = window.open('', '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
        var InputParams = [];
        var oParams = {};
        oParams["sName"] = '{XIP|1ClickID}';
        oParams["sValue"] = QueryID;
        InputParams.push(oParams);
        XILinkLoadJson(4852, null, InputParams);

        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("GetOneClickResult", "Inbox")',
            data: { ReportID: QueryID },
            cache: false,
            async: true,
            dataType: 'html',
            success: function (data) {
                with (Preview.document) {
                    open();
                    write(data);
                    close();
                }
                editpopups.push(Preview);
            }
        });*@
    }
</script>