@inherits System.Web.Mvc.WebViewPage
@using System.Globalization

@{
    Layout = null;
    var UserName = ViewBag.UserName;
}

<html>
<body>


    <p>
        Hi <b>@UserName</b>, <br /><br />
    <p>We have receieved request from you to reset your login password.</p>
    <p>Please <a href="@ViewBag.name" style="text-decoration:underline;">Click here</a> Here to reset your password or use the link below:</p>


    <a>
        Temporary link: <a href="@ViewBag.name">@ViewBag.name</a>
    </a>
    <p>This link was expired in 24 hours</p><br />
    <span>
        <br /><br />
        If you have any queries, please contact: <a href="https://Zeeinsurance.co.uk/">reports@zeeinsurance.co.uk</a>
    </span><br />
    <br /><span>Kind regards,<br />Admin <br />Zeeinsurance</span>
    </p>


</body>
</html>