@*XIDynaware Code*@
@{
    Layout = "~/Views/Shared/_XIDynawareLayout.cshtml";
}
@using Microsoft.AspNet.Identity
@using XIDNA.Models
@using XIDNA.ViewModels
<style>
    .ShowBOBtn {
        background: none;
        font-weight: bold;
        border: none;
    }
</style>

<script>

    $(document).ready(function () {
        var editpopups = new Array();
        var addpopups = new Array();
        var table = $('#DocTbl').dataTable({
            "paging": true,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "@Url.Action("GetXIDocDetails", "File")",
            "aaSorting": [[1, 'desc']],
            "sDom": 'r<"dtable-header"l<"new-query">f><"datatable-scroll"t><"dtable-footer"ip>',
            "initComplete": function () {
                $("div.new-query").html('<button type="button" class="savebtn btn btn-theme btn-xs" id="NewBOBtn" data-url="@Url.Action("AddXIDocDetails", "File")" >Add</button>');
            },
            'bJQueryUI': false,
            "autoWidth": false,
            "aoColumns": [
            { "bSortable": false },
                            {
                                "sName": "ID",
                                "bSearchable": true,
                                "bSortable": false,
                                "bVisible": false
                            },
                            {
                                "sName": "Type"
                            },
                             {
                                 "sName": "Path",
                             },                             
                            {
                                "sName": "StatusTypeID",
                            },
                            { "bSortable": false }
            ],
            "columnDefs": [
                {
                      "targets": [4],
                      "createdCell": function (td, cellData, rowData, row, col) {
                          if (cellData == 10)
                              $(td).replaceWith('<td>Active</td>')
                          else
                              $(td).replaceWith('<td>Inactive</td>')
                      }
                  }
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
               $('td:eq(4)', nRow).html('<input type="button" class="EditDocBtn btn btn-theme btn-xs" id="' + aData[1] + '" value="Edit"/>&nbsp;<input type="button" class="DelDocBtn btn btn-theme btn-xs" id="' + aData[1] + '" value="Delete"/>');
                  return nRow;
                  }
        })      

        //Edit File settings
        $('#DocTbl').on('click', 'input.EditDocBtn', function () {
            var ID = $(this).attr('id');
            if (editpopups.length > 0) {
                for (i = 0; i < editpopups.length; i++) {
                    editpopups[i].close();
                }
            }
            var editFile = window.open('', '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddXIDocDetails", "File")',
                data: { ID: ID },
                cache: false,
                async: false,
                dataType: 'html',
                success: function (data) {
                    with (editFile.document) {
                        open();
                        write(data);
                        close();
                    }
                    editpopups.push(editFile);
                    editFile.moveTo(0, 0);
                }
            });
        })
      

        //Delete
        $('#DocTbl').on('click', 'input.DelDocBtn', function () {
            var ID = $(this).attr('id');
            $("#Delete-Confirmation").dialog({
                autoOpen: true,
                modal: true,
                title: 'Confirmation',
                width: 400,
                buttons: {
                    Yes: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteDocDetails", "File")',
                            data: { ID: ID },
                            cache: false,
                            async: false,
                            dataType: 'html',
                            success: function (data) {
                                if (data == 1) {
                                    $("#BootstrpAlertSuccess").show();
                                    $("#BootstrpAlertSuccess").append("<strong>Success!</strong> The File settings have been deleted successfully.");
                                    $(function () {
                                        setTimeout(function () {
                                            $("#BootstrpAlertSuccess").hide('blind', {}, 500)
                                        }, 5000);
                                    });
                                    //$('#BOForm').unblock();
                                    //$('#BOForm')[0].reset();
                                    //opener.location.reload();
                                }
                                else {
                                    $("#BootstrpError").show();
                                    $("#BootstrpError").append("<strong>Failure!</strong> OOPS looks like there is some error.");
                                    $(function () {
                                        setTimeout(function () {
                                            $("#BootstrpError").hide('blind', {}, 500)
                                        }, 5000);
                                    });
                                }
                            }
                        });

                    },
                    No: function () {
                        $(this).dialog("close"); //closing on Ok click
                    }
                }
            });
        });
           
        $('.new-query').on('click', 'button#NewBOBtn', function () {
            var url = $(this).attr('data-url');
            if (addpopups.length > 0) {
                for (i = 0; i < addpopups.length; i++) {
                    addpopups[i].close();
                }
            }
            var newbo = window.open(url, '_blank', "scrollbars=1,resizable=1,width=" + screen.width + ", height=" + screen.height);
            addpopups.push(newbo);
            newbo.moveTo(0, 0);
        });


    });
</script>

<section class="content-header hedr">
    <h1> Document Management </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> BO</a></li>
        <li class="active">Home</li>
    </ol>
</section>
<div class="content">
    <div class="alert alert-danger" id="BootstrpError" style="display:none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    </div>
    <div class="alert alert-success" id="BootstrpAlertSuccess" style="display:none;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                </div>
                <div id="BOAttributes"></div>
                <div id="AttributesFromGrid"></div>
                <div id="BoAttributeGrouping"></div>
                <div id="BOGrid">

                    <div class="box-body">
                        <div class="table-clean">
                            <table class="table table-striped custom-table dark-head dark-head2 table-condensed" id="DocTbl">
                                <thead>
                                    <tr role="row">
                                        <th>S.No</th>
                                        <th style="display:none">ID</th>
                                        <th>Type</th>
                                        <th>Path</th>
                                        <th>Status</th>                                      
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".treebtn").click(function () {
        $(".treetoggle").toggleClass("treeleft");
        $(".treebtn").toggleClass("rotate");
    });
</script>

<div id="Delete-Confirmation" title="Window title" style="display:none">
    <p>Do you want to delete the Business Object.</p>
</div>
